body{
    margin: 0;
}

table {
    height: 10%;
}

.center{
    text-align: center;
}

.index-cell {
    padding: 0;
    width: 10px;
    height: 10px;
}

#nav-bar{
    background-color: black;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    padding: 0;
    color: #fff;
}
#nav-bar > a{
    color: black;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#studentID{
    font-size: 30px;
    grid-column: 20;
}

#footer {
    font-size: 1px;
    height: 20px;
}

#nav-bar {grid-area: header;}
#footer {grid-area: footer;}
.table-center{grid-area: main;}

.grid-container{
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
    gap: 10px;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 12fr 1fr;
}

.grid-container > div {
    padding: 20px 0;
  }

