<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="nav-bar" class="nav-bar">
        <form  method="post">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <!-- <div class="input-login">
                <label for="studentID">학번</label>
                <input type="text" id="studentID" name="studentID" required  value="{{ form.studentID.value|default_if_none:'' }}">
            </div>
            <div class="input-login">
                <label for="studentID">힉교이메일</label>
                <input type="email" id="email" name="email" required  value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <div class="input-login">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-login">로그인</button> -->
        </form>
    </div>
</body>
</html>